{% extends 'shared/base.html' %}
{% load static %}

{% block extrahead %} 

{% endblock extrahead %}

{% block extrastyle %} 
{% endblock extrastyle %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Velonic</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Icons</a></li>
                        <li class="breadcrumb-item active">Remix Icons</li>
                    </ol>
                </div>
                <h4 class="page-title">Remix Icons</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12" id="icons"></div> <!-- end col-->
    </div><!-- end row -->
    <!-- end row -->

</div> <!-- container -->
{% endblock content %}

{% block scripts %} 
<!-- Remixicons Icons Demo js -->
<script src="{% static 'js/pages/icons-remix.init.js' %}"></script>    
{% endblock scripts %}