{% extends 'shared/base.html' %}
{% load static %}

{% block extrahead %} 

{% endblock extrahead %}

{% block extrastyle %} 
{% endblock extrastyle %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Velonic</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Base UI</a></li>
                        <li class="breadcrumb-item active">Embed Video</li>
                    </ol>
                </div>
                <h4 class="page-title">Embed Video</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">Responsive embed video 21:9</h4>
                    <p class="text-muted mb-0">Use class <code>.ratio-21x9</code></p>
                </div>
                <div class="card-body">
                    <!-- 21:9 aspect ratio -->
                    <div class="ratio ratio-21x9">
                        <iframe width="1497" height="654" src="https://www.youtube.com/embed/Yh5ocIjeKR8" title="ONLINE GALA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div> <!-- end card-body -->
            </div> <!-- end card-->

            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">Responsive embed video 1:1</h4>
                    <p class="text-muted mb-0">Use class <code>.ratio-1x1</code></p>
                </div>
                <div class="card-body">
                    <!-- 1:1 aspect ratio -->
                    <div class="ratio ratio-1x1">
                        <iframe width="1497" height="654" src="https://www.youtube.com/embed/EZtWsbKPmQs" title="PATJO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div> <!-- end card-body -->
            </div> <!-- end card-->
        </div> <!-- end col -->

        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">Responsive embed video 16:9</h4>
                    <p class="text-muted mb-0">Use class <code>.ratio-16x9</code></p>
                </div>
                <div class="card-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe width="1497" height="654" src="https://www.youtube.com/embed/Uh77TagWvX8" title="PATAGA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div> <!-- end card-body -->
            </div> <!-- end card-->

            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">Responsive embed video 4:3</h4>
                    <p class="text-muted mb-0">Use class <code>.ratio-4x3</code></p>
                </div>
                <div class="card-body">
                    <!-- 4:3 aspect ratio -->
                    <div class="ratio ratio-4x3">
                        <iframe width="1497" height="654" src="https://www.youtube.com/embed/7DTGgdlfRp8" title="TENS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div> <!-- end card-body -->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

</div> <!-- container -->
{% endblock content %}

{% block scripts %} 
{% endblock scripts %}